@charset "UTF-8";
/* Шрифты */
@font-face {
  font-family: 'Bender';
  src: url("../fonts/Bender.eot");
  src: local("../fonts/Bender"), url("../fonts/Bender.eot?#iefix") format("embedded-opentype"), url("../fonts/Bender.woff") format("woff"), url("../fonts/Bender.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: url("../fonts/Bender-Bold.eot");
  src: local("../fonts/Bender Bold"), local("Bender-Bold"), url("../fonts/Bender-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bender-Bold.woff") format("woff"), url("../fonts/Bender-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Цвета */
/* Теги */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Bender', sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#scene {
  max-width: 100%;
  height: 98vh;
  overflow: hidden;
  position: relative;
}

#scene .layer {
  position: absolute;
}

#scene .layer-bg {
  width: 110%;
  top: -10%;
  left: -10%;
  right: 0;
  bottom: 0;
}

#scene .layer-logo {
  width: 1100px;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

#scene .layer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#scene .layer-menu__item {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

#scene .layer-menu__item a {
  padding: 5px 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 1px solid transparent;
  border-radius: 3px;
}

#scene .layer-menu__item a:hover {
  background: #fff url("../img/hover.png");
  background-size: cover;
  color: #000;
}

#scene .layer-obj {
  z-index: 5;
}

.attention {
  width: 900px;
  padding: 15px 10px;
  background: rgba(228, 89, 3, 0.8);
  color: #000;
  font-size: 20px;
  margin: 50px auto;
}

.second-menu {
  width: 100%;
  height: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  color: #fff;
  border-top: 1px solid #fff;
  font-size: 16px;
}

.second-menu .closer-btn {
  width: 100%;
}

.second-menu .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Темы */
.factory-theme-bg {
  background: radial-gradient(rgba(255, 255, 255, 0) 40%, #000), url("../img/factory-theme-bg.jpg") center no-repeat;
  background-size: cover;
}

.factory-theme-obj {
  width: 400px;
  background: url("../img/lamp.png") no-repeat;
  background-size: contain;
  top: -10%;
  right: 10%;
  bottom: 50%;
}

.woods-theme-bg {
  background: radial-gradient(rgba(255, 255, 255, 0) 40%, #000), url("../img/woods-theme-bg.jpg") center no-repeat;
  background-size: cover;
}

.woods-theme-obj {
  width: 900px;
  background: url("../img/brench.png") no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  bottom: 20%;
}
/*# sourceMappingURL=style.css.map */