@font-face {
    font-family: 'Bender';
    src: url('../fonts/Bender.eot');
    src: local('../fonts/Bender'),
        url('../fonts/Bender.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bender.woff') format('woff'),
        url('../fonts/Bender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bender';
    src: url('../fonts/Bender-Bold.eot');
    src: local('../fonts/Bender Bold'), local('Bender-Bold'),
        url('../fonts/Bender-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bender-Bold.woff') format('woff'),
        url('../fonts/Bender-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Теги */

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;

    font-family: 'Bender', sans-serif;
    font-weight: bold;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#scene {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

.layer {
    position: absolute;
    &-bg {
        width: 100%;
        background: url("../img/bg-forest.jpg") center;
        background-size: cover;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &-logo {
        width: 1000px;
    }
    &-menu {
        color: white;
        align-self: flex-end;
        padding-bottom: 40px;
        ul {
            text-align: center;
        }
        &__item {
            margin-bottom: 10px;
            font-size: 42px;
            text-transform: uppercase;
        }
    }
    &-object {
        width: 700px;
        top: 0;
        right: 0;
    }
}

