/* Шрифты */
@font-face {
    font-family: 'Bender';
    src: url('../fonts/Bender.eot');
    src: local('../fonts/Bender'),
        url('../fonts/Bender.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bender.woff') format('woff'),
        url('../fonts/Bender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bender';
    src: url('../fonts/Bender-Bold.eot');
    src: local('../fonts/Bender Bold'), local('Bender-Bold'),
        url('../fonts/Bender-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bender-Bold.woff') format('woff'),
        url('../fonts/Bender-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Neusa';
    src: url('../fonts/Neusa-DemiBold.eot');
    src: local('../fonts/Neusa-DemiBold'),
        url('../fonts/Neusa-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neusa-DemiBold.woff') format('woff'),
        url('../fonts/Neusa-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Темы и цвета */
#change-theme {
    background-color: transparent;
    color: #ffffff;
    margin-left: 5px;
    background-color: #ffffff10;
    padding: 5px 10px;
        &:hover {
            background: #fff url("../img/hover.png");
            color: #000;
        }
}
.factory-theme {
    &-bg {
        background: radial-gradient(rgba(255, 255, 255, 0) 0%, #000 75%), url("../img/theme/factory-theme-bg.webp") center no-repeat;
        background-size: cover;
    }
    &-obj {
        top: -15%;
        left: 0;
        right: -30%;
        bottom: 0;
        &__img {
            animation: swang 5s ease-in-out infinite;
        }
    }
}

$main-color: #9a8866;
$font-color: #aaaaaa;
$success-color: #2abe2a;
$warning-color: #cc1b1b;
$attention-color: #e45903cc;

/* Базовые настройки */
* {
    box-sizing: border-box;
}

body {
    cursor: url("../img/cursor.cur") 2 2, pointer;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Bender', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

/* Заголовки */
h1, h2, h3 {
    color: $main-color;
    margin: 0;
}
h2 {
    font-size: 36px;
    text-transform: uppercase;
}
h3 {
    margin: 50px 0 10px 0;
    font-size: 24px;
}

button {
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

.d-none {
    display: none !important;
}

.m-top {
    margin-top: 50px;
}

.m-bottom {
    margin-bottom: 50px;
}

.active {
    color: #000 !important;
    background-color: $main-color;
}

/* Шапка */
#scene {
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; 
    .layer {
        position: absolute;
        &-bg {
            width: 110%;
            top: -10%;
            left: -10%;
            right: 0;
            bottom: 0;           
        }
        &-logo {
            width: 1100px;
            top: 5%;
            left: 0;
            right: 0;
            margin: auto;
        }
        &-menu {            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            bottom: 0;
            left: 0;
            right: 0;

            z-index: 10;
            &__item {
                font-size: 38px;
                text-align: center;
                text-transform: uppercase;
                margin: 20px 0;
                a {
                    padding: 0 20px;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    transition: .5s ease;
                    &:hover {
                        background: #fff url("../img/hover.png");
                        background-size: cover;
                        color: #000;
                    }
                }
            }
        }
        &-obj {
            z-index: 5;
        }
    }    
}

.attention {
    width: 1000px;
    padding: 15px 80px;
    background: $attention-color;
    color: #000;
    font-size: 18px;
    &-bold {
        font-weight: bold;
        font-size: 21px;
    }
    &-icon {
        position: absolute;
        left: 24.5%;
        top: 11.8%;
    }
}

.scroll {
    width: auto;
}

.bs-logo {
    width: 350px;
    margin: 0 auto;
    display: block;
}

.hero {    
    background: #000 url('../img/about/bg.jpg') center no-repeat;
    background-position: top;
    background-size: contain;
}

.section {
    padding: 35px 0;
    &-title {
        text-align: center;
        font-size: 36px;
    }
}

// Об игре
.about {         
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__img {
            width: 400px;
            height: 250px;
            border: 3px solid $main-color;
            border-radius: 5px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    &-description {
        width: 800px;
        padding: 0 20px;
    }
    p, li {
        padding: 0;
        font-family: 'Neusa';
        font-size: 20px;
        color: $font-color;
    }
    &-list__item {
        list-style: square;
        margin: 10px 0;
    }
}

/* Предзаказ */
.order {
    &-list {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        &__item {
            padding: 5px 10px;
            color: $main-color;
            font-weight: bold;
            border: 1px soild transparent;
            border-radius: 2px;
            transition: .5s ease;
            &:hover {
                background-color: $main-color;
                color: #000;
            }
        }
    }
    &-edition {
        padding: 20px 0 0 0;
        color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-preview {
            position: relative;            
        }
        &-text {
            background-color: #00000090;
            padding: 10px 0;
            color: #fff;
            border-bottom: 2px solid $main-color;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            &__title {                
                text-transform: uppercase;
                font-size: 50px;
                font-weight: bold;
            }
            &__subtitle {
                margin: 0 auto;
                font-size: 32px;
                display: block;
            }
        }
        &__item {
            list-style: square;
            padding: 15px 0px;
            color: $font-color;
            font-size: 20px;
            font-family: 'Neusa', serif;
        }
        &__reserve {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__price {
            margin-right: 30px;
            display: block;
            font-size: 55px;
            color: #fff;
        }
        &__button {
            background: $main-color;
            padding: 15px 20px;
            color: #000;
            border: 2px solid $main-color;
            border-radius: 5px;
            font-size: 22px;
            text-transform: uppercase;
            transition: .5s ease;
            &:hover {
                background-color: transparent;
                color: $main-color;
                border: 2px solid $main-color;
            }
            &:active {
                background: url("../img/hover.png");
                background-size: cover;
                color: $font-color;
                border: 2px solid $font-color;
            }
        }
    }
}

.equipment { 
    color: $main-color;
    &-list {
        list-style: circle;
        color: $font-color;
        // padding: 10px 0 10px 20px;
        position: relative;
        &__item {
            display: none;
            transition: .5s ease;
        }
    }
    #increase-btn {
        cursor: pointer;
    } 
    #decrease-btn {
        display: none;
        background-color: #00000090;
        color: $font-color;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -15px;
        text-align: center;
        cursor: pointer;
    }
}


/* Правила */
.section {
    &-rules {
        color: $font-color;
        text-align: center;
    }
}
.rules {
    &__link {
        color: #fff;
        text-decoration: underline;
        transition: .5s ease;
        &:hover {
            color: $main-color;
        }
    }
    &-policity {
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            margin-right: 25px;
            color: #fff;
            text-decoration: underline;
            transition: .5s ease;
                &:hover {
                    color: $main-color;
                }
        }
    }
}

/* Подвал */
.footer {
    margin-top: auto;
    padding: 1px 20px;
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 0px -9px 17px 6px #ffffff10;
    z-index: 99;
    &-icons {
        margin-right: 7px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-navigation {
        display: flex;
        a {
            background-color: #ffffff10;
            margin-left: 5px;
            padding: 5px 10px;
            display: block;
            text-transform: uppercase;
            transition: .5s ease;
                &:hover {
                    background: #fff url("../img/hover.png");
                    color: #000;
                }
        }
    }
}

/* Слайдер */
.swiper {
    &-container {
        &-m, &-g {           
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            position: relative;
            overflow: hidden;
            list-style: none;
            z-index: 1;
        }
        &-m {
            height: 600px;
        }
    }
    &-slide {
        .movie {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-title {
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .gallery {
            width: 100%;
            height: 100%;
        }
    }
    &-pagination {
        &-bullet-active {
            background: $main-color;
        }
        &-progressbar &-progressbar-fill {
            background: $main-color;
            bottom: 0;
        }
    }
    &-button-next, &-button-prev {
        color: $main-color;
    }
}

/* Прелоадер */
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999998;
}
.spiner {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    border-radius: 50%;
    border-right-color: #ffffff50;
    animation: spin 500ms infinite linear;
    z-index: 999998;
}
.loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
}
.loaded .preloader,
.loaded .spiner {
    display: none;
}

/* Стрелка наверх */
.arrow-up {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: transparent;
}

/* Анимации */

// анимация спинера
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

// анимация лампы
@keyframes swang {
    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}