// Шрифты
@import 'modules/font';
// Цвета
@import 'modules/colors';
// Базовые настройки
@import 'modules/basis';
// Основные секции
@import 'modules/sections';

.main-screen-index-page {
    background: linear-gradient(to bottom, #ffffff00 70%, #000 100%), url('../img/about/main-bg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.scroll {
    width: auto;
}

// Об игре 
.about {      
    background: linear-gradient(to top, #FFFFFF00 75%, #000000 100%), url('../img/about/bg.jpg') center no-repeat;    
    background-position: center center;
    background-size: cover;
       
    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &__img {
            width: 400px;
            height: 250px;
            border: 2px solid $main-color;
            // border-radius: 5px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &-title {
            margin: 50px 0 10px 0;
        }
    }
    &-description {
        width: 800px;
        padding: 0 20px;
    }
    p, li {
        padding: 0;
        font-family: 'Neusa';
        font-size: 20px;
        color: $font-color;
    }
    &-list__item {
        list-style: square;
        margin: 10px 0;
    }
}

// Предзаказ 
.order {
    &-list {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        &__item {
            padding: 5px 10px;
            color: #fff;
            font-weight: bold;
            border: 1px soild transparent;
            border-radius: 2px;
            transition: .5s ease;
            &:hover {
                background-color: $main-color;
                color: #000;
            }
        }
    }
    &-edition {
        padding: 20px 0 0 0;
        color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-preview {
            position: relative;            
        }
        &-text {
            background-color: #00000090;
            padding: 10px 0;
            color: #fff;
            border-bottom: 2px solid $main-color;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            &__title {                
                text-transform: uppercase;
                font-size: 50px;
                font-weight: bold;
            }
            &__subtitle {
                margin: 0 auto;
                font-size: 32px;
                display: block;
            }
        }
        &-list {
            width: 500px;
        }
        &__item {
            list-style: square;
            padding: 15px 0px;
            color: $font-color;
            font-size: 20px;
            font-family: 'Neusa', serif;
        }
        &__reserve {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__price {
            margin-right: 30px;
            display: block;
            font-size: 55px;
            color: #fff;
        }
        &__button {
            background: $main-color;
            padding: 15px 20px;
            color: #000;
            border: 2px solid $main-color;
            border-radius: 5px;
            font-size: 22px;
            text-transform: uppercase;
            transition: .5s ease;
            &:hover {
                background-color: transparent;
                color: $main-color;
                border: 2px solid $main-color;
            }
        }
    }
}

.equipment { 
    color: $main-color;
    &-list {
        height: 0;
        overflow: hidden;
        color: $font-color;
        padding-left: 20px;
        position: relative;
        transition: .5s ease;
        &__item {
            list-style: circle;
        }
    }
    .increase-btn, .decrease-btn {
        cursor: pointer;
    }
}

// Правила 
.rules {
    color: $font-color;
    text-align: center;
    &__link {
        color: #fff;
        text-decoration: underline;
        transition: .5s ease;
        &:hover {
            color: $main-color;
        }
    }
    &-policity {
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            margin-right: 25px;
            color: #fff;
            text-decoration: underline;
            transition: .5s ease;
                &:hover {
                    color: $main-color;
                }
        }
    }
}

// Слайдер 
.swiper {
    &-container {
        &-m, &-g {           
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            position: relative;
            overflow: hidden;
            list-style: none;
            z-index: 1;
        }
        &-m {
            height: 600px;
        }
    }
    &-slide {
        .movie {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-title {
                color: #fff;
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .gallery {
            width: 100%;
            height: 100%;
        }
    }
    &-pagination {
        &-bullet-active {
            background: $main-color;
        }
        &-progressbar &-progressbar-fill {
            background: $main-color;
            bottom: 0;
        }
    }
    &-button-next, &-button-prev {
        color: $main-color;
    }
}

// Стрелка наверх
.arrow-up {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: transparent;
}
