// Шрифты
@import '../modules/font';
// Цвета
@import '../modules/colors';
// Базовые настройки
@import '../modules/basis';
// Основные секции
@import '../modules/sections';

.hero {    
    background: linear-gradient(to top, #FFFFFF00 20%, #000000 80%), url('../img/about/bg.jpg') center no-repeat;    
    background-position: top;
    background-size: cover;
}

.main-screen-stats-page {
    background: linear-gradient(to bottom, #ffffff00 70%, #000 100%), url('../../img/stats/news-bg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.stats {
    .charts {
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(3, 400px);
        grid-gap: 20px;
    }
    .chart {
        &-title {
            margin-bottom: 5px;
        }
        &-description {
            color: #ffffff;
            font-size: 44px;
        }
        &-list {            
            background-color: #ffffff10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-rating {
                grid-row: 3;
                grid-column: 1 / span 2;
            }
        }
        &-small-radar, &-small-bar, 
        &-small-pie, &-large-line, &-list {
            padding: 20px;
            text-align: center;
        }
        &-small-radar {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
        &-small-bar {
            grid-column: 3;
            grid-row: 2 / span 2;
        }
        &-large-line {
            height: 550px;
            grid-row: 4;
            grid-column: 1 / span 3;
        }
    }    
}
