/* Шрифты */
@import '../modules/font';

/* Цвета */
@import '../modules/colors';

/* Базовые настройки */
@import '../modules/basis';

.header {
    background-color: rgba(0, 0, 0, 0.97);
    height: 5vh;
    padding: 1px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
    }
}

.menu {
    &-list {
        &__item {
            padding: 0 10px;
            transition: .5s ease;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.news {
    height: 95vh;
    background: radial-gradient(rgba(255, 255, 255, 0) 50%, #000 80%), url('../../img/stats/news-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    &-line-block {
        width: 100%;
        background-color: #00000075;
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        &__item {
            position: absolute;
            top: 0;
            bottom: 0;
            animation: marquee 40s infinite linear;
        }
    }
}

.stats {
    .charts {
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(3, 400px);
        grid-gap: 20px;
    }
    .stat-list {
        background-color: #ffffff10;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__title {
            color: $main-color;
            display: block;
            font-weight: bold;
            font-size: 22px;
        }
        &__statistic {
            display: block;
            color: $font-color;
            font-size: 50px;
        }
        &__rating {
            grid-row: 3;
            grid-column: 1 / span 2;
        }
        .milk {
            width: 200px;
            margin: 0 auto;
        }
    }
    .chart {
        &-title {
            margin-bottom: 5px;
        }
        &-description {
            color: $font-color;
        }
        &-small-radar, &-small-bar, 
        &-small-pie, &-large-line {
            padding: 20px 20px;
            text-align: center;
        }
        &-small-radar {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
        &-small-bar {
            grid-column: 3;
            grid-row: 2 / span 2;
        }
        &-large-line {
            height: 550px;
            grid-row: 4;
            grid-column: 1 / span 3;
        }
    }    
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%)
    }
}
