// Базовые настройки
* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    cursor: url("../img/cursor.cur") 2 2, pointer;
    color: $font-color;
    margin: 0;
    padding: 0;
    font-family: 'Bender', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

// Заголовки
h1,
h2,
h3,
h4 {
    color: $main-color;
    margin: 0;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
}

button {
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.m-top {
    margin-top: 50px;
}

.m-bottom {
    margin-bottom: 50px;
}

.active {
    color: #000 !important;
    background-color: $main-color;
}

// Таблицы
table {
    border-spacing: 0px;
}
tr:nth-child(2n) {
    background-color: #00000050;
}
td {
    padding: 5px;    
}
th {
    padding: 10px 0px;
    text-transform: uppercase;
    border-collapse: collapse;
    border-bottom: 1px solid $main-color;
    color: #ffffff;
}


// Прелоадер 
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999998;
}
.spiner {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    border-radius: 50%;
    border-right-color: #ffffff50;
    animation: spin 500ms infinite linear;
    z-index: 999998;
}
.loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
}
.loaded .preloader,
.loaded .spiner {
    display: none;
}

// Анимации

// Анимация спинера
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
// Анимация бегущей строки
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%)
    }
}
