.section {
    padding: 35px 0;
    &-title {
        text-align: center;
        font-size: 36px;
    }
}

/* Подвал */
.footer {
    margin-top: auto;
    padding: 1px 20px;
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 0px -9px 17px 6px #ffffff10;
    z-index: 99;
    &-icons {
        margin-right: 7px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-navigation {
        display: flex;
        a {
            background-color: #ffffff10;
            margin-left: 5px;
            padding: 5px 10px;
            display: block;
            text-transform: uppercase;
            transition: .5s ease;
                &:hover {
                    background: #fff url("../img/hover.png");
                    color: #000;
                }
        }
    }
}